.td_a{
  color: #424242;
  text-decoration: none;
}
.td_6700{
  text-decoration: none;
}
.td_6700:hover{
  text-decoration: none;
 color: #ff6700;
}
.td_a:hover{
  color: #424242;
  text-decoration: none;
}
.font_s{
  font-size: 12px;
}
.font_s_muted{
  font-size: 0.75rem;
  color: #757575;
}
.font_m{
  font-size: 14px;
}
.color_6700{
  color: #ff6700;
}
.color_75{
  color: #757575;
}
.mg_auto{
  margin: 0 auto;
}
.text_center{
  text-align: center;
}
.my_cursor{
  cursor: pointer;
}
.my_shadow{
  transition: 0.3s;
}
.my_shadow:hover{
  box-shadow: 0px 3px 10px 3px rgb(200, 200, 200);
  transform: translateY(-3px);
}
.w-60{
  width: 60%;
  outline: none;
}

